:root {
  --bg: #f2f2f2;
  --card: #ffffff;
  --text: #000000;
}

body.dark {
  --bg: #121212;
  --card: #1e1e1e;
  --text: #ffffff;
}


* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--bg);
  color: var(--text);
  transition: background 0.3s, color 0.3s;
  font-family: Arial, sans-serif;
}

.app {
  background:var(--card);
  padding: 20px;
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
  text-align: center;
}

h1 {
  margin-bottom: 15px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

button {
  width: 100%;
  padding: 10px;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}

#result {
  margin-top: 15px;
}

#result p {
  margin: 6px 0;
  font-size: 14px;
}

#result img {
  border-radius: 50%;
  margin-top: 10px;
}

#result a {
  display: inline-block;
  margin-top: 10px;
  text-decoration: none;
  color: #0366d6;
  font-weight: bold;
}

.loading {
  font-style: italic;
  color: #555;
}

.error {
  color: red;
}
